In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName("appName").getOrCreate()

In [4]:
emp = [
    (1, "Smith", -1, "2018", "10", "M", 3000),
    (2, "Rose", 1, "2010", "20", "M", 4000),
    (3, "Williams", 1, "2010", "10", "M", 1000)
]

In [5]:
empColumns = ["emp_id", "name", "superior_emp_id", "year_joined", "emp_dept_id", "gender", "salary"]

In [6]:
empDF = spark.createDataFrame(data=emp, schema=empColumns)

In [7]:
empDF.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [8]:
dept = [
    ("Finance", 10),
    ("Marketing", 20),
    ("Sales", 30),
    ("IT", 40)
]

In [9]:
deptColumns = ["dept_name", "dept_id"]

In [10]:
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)
deptDF.printSchema()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

In [11]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "inner")

DataFrame[emp_id: bigint, name: string, superior_emp_id: bigint, year_joined: string, emp_dept_id: string, gender: string, salary: bigint, dept_name: string, dept_id: bigint]

In [ ]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "outer")
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "full")
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left")